<html>
<head>
	<title>drawing and tracing</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	

</head>
<body>
	
	<%= link_to "Sign Out", destroy_admin_session_path, method: "delete" %>
	<div id="wrapper">
		<h1>Trace the letter, <%= @kidname %> !</h1>
		<div id="canvas-wrapper">
			<canvas id="c" width="900px" height="400px"></canvas>
		</div>
		<div id="sound">
			<audio controls="controls" autoplay="true" loop="true">
	  			Your browser does not support the <code>audio</code> element.
	  			<source src="audio/A.mp3" type="audio/mp3">
			</audio>
		</div>
		<button id="check">Grade it!</button>
	</div>
</body>
</html>
