<html>
<head>
	<title>drawing and tracing</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	

</head>
<body>
	<% if admin_signed_in? %>
		<%= render 'layouts/admin_menu2' %>
	<% end %>
	<% if kid_signed_in? %>
		<%= render 'layouts/kid_menu' %>
	<% end %>

	<div id="wrapper">

		<h1>Trace the letter, <%= @kidname %> !</h1>
		<div id="canvas-wrapper">
			<canvas id="c" width="900px" height="400px"></canvas>
		</div>

		<button id="check">Grade it!</button>
	</div>
</body>
</html>
