	<% if kid_signed_in? %>
		<%= render 'layouts/kid_menu' %>
	<% elsif admin_signed_in? %>
		<%= render 'layouts/admin_menu2' %>
	<% end %>
	

	<div id="wrapper">

		<h1>Go <%= @kidname %> go!</h1>
		<div id="canvas-wrapper">
			<canvas id="c" width="360px" height="400px"></canvas>
		</div>

		<button id="check">Grade it!</button>
	</div>
