
// KIDS PALETTE
$yellow: rgb(255, 218, 0);
$orange: rgb(236, 122, 8);
$red:	rgb(205, 32, 44);
$purple: rgb(124, 16, 154);
$green: rgb(182, 191, 0);


// TEST PALETTE
$lt_gray: rgb(200, 200, 200);
$lt_green: rgb(200, 240, 220);
$lt_blue: rgb(200, 230, 245);


// ADMIN PALETTE
$admin_darkred: rgb(76, 41, 45);
$admin_red: rgb(193, 39, 45);
$admin_pink: rgb(239, 168, 173);
$admin_gray: rgb(196, 171, 173);
