
#wrapper{
	height:100%;
	width: 100%;
	color: white;
	font-family: sans-serif;
	text-align: center;
	background-color: rgb(100, 100, 100);
	h1 {
		font-family: 'Gloria Hallelujah', cursive;
		padding: 10px;
	}
}

#check{
	margin: 24px;
	border: 1px solid black;
	border-radius: 12px;
	font-size: 24px;
}

#check:hover{
	background-color: black;
}


#c-wrapper{
	width: 440px;
	margin: 0px auto;
}

#c{
	background-color: rgb(200, 200, 200);
	border: 1px solid black;
}