
#wrapper{
	height:100%;
	width: 100%;
	color: white;
	font-family: sans-serif;
	text-align: center;
	background-color: orchid;
}

#check{
	margin: 24px;
	border: 1px solid black;
	border-radius: 12px;
	font-size: 24px;
}

#check:hover{
	background-color: linen;
}
#sound{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#c-wrapper{
	width: 440px;
	margin: 0px auto;
	
}

#c{
	background-color: linen;
	border: 1px solid black;
	//setting height in css breaks behavior
}