// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'color';

body {
}

/* =====================
------ SIGN IN ---------
====================== */

.container-fluid {
	background-color: white;
	color: rgb(140, 60, 20);
}

.admin_login {
	background-color: $purple;
	padding: 10px;
	text-align: center;
	label {
		color: $yellow;
	}
}

.anim {
	background-color: $green;
	text-align: center;
}

.kid_login {
	background-color: $yellow;
	text-align: center;
}

#gear {
	float:right;
	background-color: $red;
	color: $yellow;
	border: 1px solid $yellow;
	padding: 3px;
	font-size: .8em;
}

.modal-content {
}

.modal-header {
	background-color: $yellow;
}

.modal-title {
	color: $purple;
}

.modal-body {
}

#admin_links a {
	color: $orange;
}


/* =====================
------ ADMIN MENU ---------
====================== */

.admin_navbar {
	background-color: $red;
	.admin_menu {
		margin-top: 10px;
		text-align: center;
		li {
			list-style-type: none;
			display: inline;
			padding: 4px;
		}
		a  {
		color: $yellow;
		}
	}
}


/* =========================
------ ADMIN PROFILE -------
========================== */

#admin_header {
	background-color: $green;
	margin-bottom: 0;
	h2 {
		color: $red;
		text-align: center;
	}
}

.add_student {
	text-align: center;
	font-size: 1.4em;
	background-color: $orange;
	a {
		color: $purple;
	}
}

