// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'color';

body {
	font-family: 'Antic', sans-serif;
}

/* ==================
------general -------
======================*/
.none{
	display: none;
}

/* =====================
------ SIGN IN ---------
====================== */

.container-fluid {
	font-family: 'Antic', sans-serif;
	background-color: white;
	color: $admin_darkred;
}

#home {
	background-color: $yellow;
	height: 115vh;
	margin: -15px;
}

#gear {
	float:right;
	display: none;
	position: absolute;
	z-index: 900;
	top: 20px;
	right: 20px;
	background-color: $yellow;
	border: none;
	padding: 3px;
	font-size: .8em;
	:hover {
		border-color: $red;
	}
}

.alert {
	position: absolute;
}

div.alert.alert-info {
	background-color: $red;
	color: $yellow;
	border-color: $red;
	border-width: 2px;
	font-size: 1em;

}

/* ADMIN LOGIN */

.admin_login {
	background-color: $admin_gray;
	padding: 0;
	text-align: center;
	label {
		color: $admin_darkred;
		margin-bottom: 0;
		margin-top: 4px;
	}
	input:focus {
		border-color: $red;
	}
}

.modal-header {
	background-color: $admin_darkred;
	.close {
		color: white;
		font-size: 2em;
	}
}

.modal-title {
	color: $admin_gray;
}

.modal-body {
	background-color: white;
}

.admin_signin_submit {
	color: white;
	input {
		margin-top: 4px;
		background-color: $admin_darkred;
		border: $admin_pink;
	}
}

#admin_links a {
	color: $admin_red;
	font-size: .8em;
}

/* MIDDLE OF THE PAGE */

.anim {
	font-family: 'Gloria Hallelujah', cursive;
	background-color: $yellow;
	padding: 0;
	padding-top: 5%;
	margin: 0;
	color: $red;
	text-align: center;
	margin-bottom: 0;	
	h1 {
		font-size: 7em;
		margin-bottom: 0;
	}
	.dedo {
		font-size: 1.6em;
	}
	#anim {
		display: none;
		position:absolute;
		z-index: 20;
	}
}


#kid_avatar, #password_pics {
	margin-top: 10px;
	text-align: center;
	img {
		margin-bottom: 6px;
	}
	div:first-child {
		border: 5px solid $red;
		border-radius: 20px;
		background-color: white;
		margin: 0 auto;
		padding: 10px;
		height: 120px;
		width: 200px;
		overflow-y: scroll;
	}
}

#kid_login_form{
	display: none;
}

.kid_login {
	font-family: 'Gloria Hallelujah', cursive;
	background-color: $yellow;
	color: $red;
	text-align: center;
	padding-top: 2%;
	margin-bottom: 20px;
	display: none;
	position: absolute;
	z-index: 99;
	h2 {
		font-size: 2em;
	}
	label {
		margin-bottom: 0;
		margin-top: 4px;
	}
}

.login {
	button {
		margin-top: 20px;
	}
}

#start_button {
	margin-top: 15%;
	text-align: center;
}

 .hide_button {
 	background-color: $yellow;
 	border: none;
 	width: 300px;
 	margin: 40 auto;
 }


/* =====================
-------- MENUS ---------
====================== */

.admin_navbar {
	background-color: $admin_gray;
	.admin_menu {
		margin-top: 10px;
		text-align: center;
		padding-left: 0;
		li {
			list-style-type: none;
			display: inline;
			padding: 6px;
			border-left: 1px solid $admin_darkred;
			font-size: .9em;
			text-align: center;
		}
		a  {
			color: $admin_red;
			text-align: center;
		}
		a:hover {
			color: $admin_darkred;
			text-decoration: none;
		}
	}
}

.kid_navbar {
	font-family: 'Gloria Hallelujah', cursive;
	background-color: $red;
	.kid_menu {
		margin-top: 10px;
		text-align: center;
		padding-left: 0;
		li {
			list-style-type: none;
			display: inline;
			padding: 6px;
			border-left: 1px solid $orange;
			font-size: 1.4em;
			text-align: center;
		}
		a  {
			color: $yellow;
			text-align: center;
		}
		a:hover {
			color: $purple;
			text-decoration: none;
		}
	}
}


/* =========================
------ ADMIN PROFILE -------
========================== */

#admin_header {
	background-color: white;
	margin-bottom: 0;
	h2 {
		color: $red;
		text-align: center;
	}
}

.add_student {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	font-size: 1.4em;
	background-color: $admin_darkred;
	a {
		background-color: $admin_red;
		margin: 2px;
		padding-right: 15px;
		padding-left: 15px;
		color: $admin_pink;
		border-right: 1px solid white;
		border-left: 1px solid white;
	}
	a:hover {
			color: $admin_darkred;
			text-decoration: none;
		}
}

/* =========================
------ KID PROFILE -------
========================== */

#kid_info {
	background-color: $green;
	color: $red;
	padding: 25px;
	border-radius: 20px;
	margin-top: 20px;
}

.kid_gutter {
	background-color: $yellow;
	height: 120vh;
}

.divider {
	border: 10px solid $admin_red;
}

.kid_divider {
	border: 10px solid $red;
	border-radius: 20px;
	margin: 0;
	padding: 0;
}

.kid_divider_small {
	border: 1px dotted $green;
}

.kid_view {
	background-color: white;
	color: $red;
}

#kid_score_table {
	background-color: $yellow;
	border-radius: 20px;
	color: $red;
	text-align: center;
	margin: 0 auto;
	tr {
		padding-bottom: 10px;
		td {
			border-bottom: 1px dashed $green;
			padding-right: 10px;
			padding-left: 10px;
			font-size: 1.6em;
		}
		.table_big {
			font-size: 3em;
		}
	}
}

/* =========================
------ KID SIGNUP -------
========================== */

#kid_signup {
	text-align: center;
	h2:first-child {	
		margin-bottom: 0;
		padding-bottom: 0;
	}
	h2:nth-child(2) {
		margin-top: 0;
		font-weight: bold;
	}
	hr {
		padding: 0;
		margin: 5px;
	}
	form {
		padding-left: 60px;
		padding-right: 60px;
		border-right: 4px solid $admin_gray;
		border-left: 4px solid $admin_gray;
		border-radius: 20px;
	}
	.field {
		background-color: $admin_pink;
	}
	.actions {
		background-color: $admin_pink;
	}
	input {
		margin-bottom: 10px;
	}
	label:first-child {
		margin-top: 10px;
	}
	#kid_avatar {
		width: 200px;
		margin: 0 auto;
	}
}

/* =========================
------ DRAW PAGE -------
========================== */

#draw_body {
	background-color: $yellow;
	margin-right: -15px;
	margin-left: -15px;
	height: 110vh;
}

#wrapper{
	height:100%;
	width: 100%;
	color: white;
	font-family: sans-serif;
	text-align: center;
	background-color: $yellow;
	h1 {
		font-family: 'Gloria Hallelujah', cursive;
		color: $red;
		border-bottom: 2px solid $red;
		width: 200px;
		margin: 10px auto;
	}
}

#check{
	margin: 24px;
}


#c-wrapper{
	width: 440px;
	margin: 0px auto;
}

#c{
	background-color: $yellow;
	border: none;
}

.draw_button {
 	background-color: $yellow;
 	border: none;
 	width: 100px;
 	margin: 40 auto;
 }

 	.draw_button:hover {
 		background-color: $orange;
 		border-radius: 50px;
 }



	
