

<div class="row admin_navbar">
	<div class="col-md-8"></div>
	<div class="col-md-4">
		<ul>
			<li><%= link_to "Sign Out", destroy_admin_session_path, method: "delete" %></li>
			<li><%= link_to "Home", root_path %></li>
		</ul>
	</div>
</div>
