<div class="row kid_navbar">
	<div class="col-md-2 image"><%= image_tag("dedo_logo.png", width: "100") %></div>
	<div class="col-md-5"></div>
	<div class="col-md-5">
		<ul class="kid_menu">
			<li><%= link_to "DEDO!", score_index_path %></li>
			<li><%= link_to "Sign Out", destroy_kid_session_path, method: "delete" %></li>
		</ul>
	</div>
</div>